# file types
**/*.yml
**/*.yaml
**/*.sql
*.d.ts

# specific files
.gitignore
.prettierignore
.nvmrc
.releaserc
package-lock.json
swagger.json

# directories
dist
coverage
node_modules
**/data/tierlist
dev-dist