@import 'bulma/sass/components/navbar.sass';
@import '@/assets/colors.scss';
@import '@/assets/variables.scss';

$logo-offset: 4.5rem;
$burger-offset: 5.5rem;

.navbar.sleepapi-navbar {
  grid-column: 1 / -1;
  border-bottom: 1px solid grey;

  // the brand aka the Sneasel icon
  .navbar-brand {
    background-color: $background;
    // TODO: maybe change transparent to sneasel-skin-background
    .navbar-item {
      &:hover,
      &:focus,
      &:focus-within {
        background-color: transparent !important;
        color: $white;
      }
    }
  }

  // the whole bar
  .navbar-menu {
    background-color: $background;
    // components in the navbar
    .navbar-item {
      color: $white;
      &:hover,
      &:focus,
      &:focus-within {
        // TODO: skin-background or not?
        background-color: $sneasel-skin-background !important;
        color: $white;
      }

      &:hover {
        color: $primary !important;
      }
    }
    .navbar-link {
      color: $white;
      &:hover,
      &:focus,
      &:focus-within {
        // TODO: skkin-backgorund or not?
        background-color: $sneasel-skin-background !important;
        color: $white;
      }

      &:hover {
        color: $primary !important;
      }
    }

    .navbar-dropdown {
      color: $white;
      &:hover,
      &:focus,
      &:focus-within {
        // TODO: skkin-backgorund or not?
        background-color: $sneasel-skin-background !important;
        color: $white;
      }

      &:hover {
        color: $primary !important;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .navbar-menu {
      font-size: 1rem;
      text-transform: uppercase; // TODO: undecided

      .navbar-center {
        @extend .navbar-start;

        justify-content: center;
        margin: 0 auto 0 auto;
        position: relative;
        left: -$logo-offset;
      }
    }
  }

  @media screen and (max-width: $desktop) {
    .navbar-brand {
      justify-content: space-between;

      .navbar-burger {
        margin-left: 0;
      }

      .navbar-item {
        margin-left: -$burger-offset;
      }
    }

    .navbar-menu {
      font-size: 1.25rem;
      text-transform: uppercase;
      background-color: red;
      color: red; // TODO: fix after burger menu has contents

      .navbar-item,
      .navbar-link {
        color: red; // TODO: fix after burger menu has contents
        padding: 1rem;
      }
    }
  }
}
