@import '@/assets/colors';

a,
.sneasel-feather {
  text-decoration: none;
  color: $sneasel-feather;
  transition: 0.4s;
  padding: 3px;
}
.sneasel-skin {
  text-decoration: none;
  color: $sneasel-skin;
  transition: 0.4s;
  padding: 3px;
}

$section-gap: 160px;
