// flex
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

// debug
.debug-border {
  border: 1px solid red;
}
