:root {
  --main-bg: #333; /* Define a variable */
  --main-text: #f5f5f5;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text);
}

.btn-outline-dark {
  background-color: var(--main-text);
  color: var(--main-bg);
  --bs-btn-hover-bg: #555;
  --bs-btn-hover-color: var(--main-text);
}
.btn-outline-dark:disabled {
  background-color: var(--main-text);
  color: var(--main-bg);
  border-color: #ccc;
}

.card {
  border-color: #555;
  background-color: #555;
  color: var(--main-text);
}
.card-body {
  background-color: #555;
  color: var(--main-text);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.btn-sm {
  width: 30px;
  height: 30px;
}
